* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p { 
    padding: 0;
}


$primary-color: #a2b5b8;
$border-color: #c2dbdd;
$grid-gap: #ddd;

$player-one: #3a8ad4;
$player-two: #3abcd3;

$bp-desktop: 1440px;
$bp-tablet: 768px;
